h1 {
  font-size: 4em;
  font-weight: 100;
}

small {
  font-size: 1.5em;
  font-weight: 300;
  color: #535957;
}

p {
  font-size: 2em;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
