@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

h1 {
  font-size: 4em;
  font-weight: 100;
}

small {
  font-size: 1.5em;
  font-weight: 300;
  color: #535957;
}

p {
  font-size: 2em;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
}
