$primary: black;
$secondary: #de3403;
$subtle: #535957;

// Global styles - sets line height, font colour, and selected text behaviour
// ---------------------------------------------------
* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  &::selection {
    background: $secondary;
    color: white;
  }
}

// Small screen defaults
// ---------------------------------------------------

// Text
h1 {
  font-size: 2em;
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: $secondary;
}

small {
  font-size: 1em;
  font-weight: 300;
  color: $subtle;
}

p {
  font-size: 1.25em;
  font-weight: 300;
}

// Large screen overrides
// ---------------------------------------------------
@media screen and (min-width: 30em) {
  // Text
  h1 {
    font-size: 4em;
  }

  small {
    font-size: 1.5em;
  }

  p {
    font-size: 2em;
  }
}

// Default link styles - adds a sliding underline on hover & focus
// ---------------------------------------------------
a {
  position: relative;
  text-decoration: none;
  color: $secondary;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.1em;
    bottom: 0;
    right: 0;
    display: block;
    background: $primary;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }

  &:focus:after,
  &:hover:after {
    width: 100%;
    left: 0;
  }
}
