$light: #ffffff;
$dark: #161616;

$highlight: #358730;
$highlight-light: #4abc43;

$subtle: #535957;
$subtle-light: #a3a3a3;

$underline-size: 1px;

// Global styles - sets line height, font colour, and selected text behaviour
// ---------------------------------------------------
* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  &::selection {
    background: $highlight;
    color: white;
  }
}

body {
  background-image: url("../public/topography-light.svg");
}

// Small screen defaults
// ---------------------------------------------------

// Text
h1 {
  font-size: 2em;
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: $highlight;
  text-decoration-thickness: $underline-size;
  color: $dark;
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: $highlight;
  text-decoration-thickness: $underline-size;
  color: $dark;
}

span {
  color: $dark;
}

small {
  font-size: 1em;
  font-weight: 100;
  color: $subtle;
}

p {
  font-size: 1.25em;
  font-weight: 100;
  color: $dark;
}

// Links - adds a sliding underline on hover & focus
// ---------------------------------------------------
a {
  position: relative;
  text-decoration: none;
  color: $highlight;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: $underline-size;
    bottom: 0;
    right: 0;
    display: block;
    background: $dark;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
  }

  &:focus:after,
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

// Large screen overrides
// ---------------------------------------------------
@media screen and (min-width: 30em) {
  // Text
  h1 {
    font-size: 4em;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  h2 {
    font-size: 2.5em;
  }

  small {
    font-size: 1.5em;
  }

  p {
    font-size: 1.85em;
  }

  // Scroll snapping defaults & utility classes
  // ---------------------------------------------------
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }

  .sc-parent {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }

  .sc-child {
    scroll-snap-align: center;
  }
}

// Dark theme overrides
// ---------------------------------------------------
@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark;
  }

  // Text
  h1,
  h2,
  p,
  span {
    color: $light;
    text-decoration-color: $highlight-light;
  }

  small {
    color: $subtle-light;
  }

  // Icons
  .lighten--dark {
    fill: $light;
  }

  .darken--dark {
    fill: $dark;
  }

  // Links
  a:after {
    background: $light;
    color: $highlight-light;
  }

  // Background svg
  body {
    background-image: url("../public/topography.svg");
  }
}

// Low motion overrides
// ---------------------------------------------------
@media (prefers-reduced-motion) {
  a:after {
    transition: width 0s ease;
    -webkit-transition: width 0s ease;
  }

  .sc-parent {
    scroll-snap-type: none;
  }
}

// Utility classes
// ---------------------------------------------------

// Border colours
.b--secondary {
  border-color: $highlight;
}
